<h2> Welcome, <%= @user.username %>!</h2>

<h3>Garage:</h3>
<% if @user.cars.empty? %>
    <h4>You currently don't have any cars in your garage!</h4>
<% else %>
    <% @user.cars.each do |car| %>
        -<a href="/cars/<%= car.id %>"><%= car.year %> <%= car.make %> <%= car.model %> <%= car.color %></a><br>
    <% end %>
<% end %>
<br>
<form method="get" action="/cars/new">
    <button type="submit">Add a car to your garage</button>
</form>