<h2><%= @car.year %> <%= @car.make %> <%= @car.model %> <%= @car.color %></h2>

<strong>Parts:</strong> <%= @car.parts %><br><br>
<form method="get" action="/cars/<%= @car.id %>/edit">
<button type="submit">Edit Car</button></form><br>
